*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'Roboto', sans- serif;
	width: 90%;
	background-color: 
}


/* ############  HEADER: NAV, LOGO, BUTTON*/
header {
	border: 1px solid green;
}
.traka {
	display: flex;
	justify-content: space-between;
}

.logo {
	display: inline-block;
	max-width: 300px;
	
}
.logo .fa {font-size: 1.2em; color: red; margin-top:20px;}

button {
	border-radius: 8px;
	background-color: #D92D2D;
	color: white;
	padding: 10px;
}
nav, ul li {
	display: inline-block;
}
a {text-decoration: none; font-size: 1em; color: #2680e0; margin:20%; text-transform: uppercase;}

header {
	background-image: url("../img/zg_bg.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	height: 400px;
	max-width: 100%;
	position: relative;

}
.text {
	text-align: center;
	font-family: monospace;
	color: white;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
	max-width: 100%;
}

.text h1 {
	font-size: 1.3em;
}
.text h2 {
	text-transform: uppercase;
	font-size: 1.5em;
}

/**** ABOUT ****/

hr {
	text-align: center;
	width: 25%;
	/* margin-top: -20px; */
	margin-bottom: 25px;
}
main {}
main h2 {
	text-align: center;
	margin: 20px;
	padding-top: 20px;
}

/* ########### SECTION 1 ############ */
.section1 {
	margin-top: 50px;
	max-width: 100%;
	background-color: white;
}

.col1-left, .col1-right {
	vertical-align: top;
	width: 50%;
	height: 100%;
	display: inline-block;
	text-align: center;
	vertical-align: top;
}
.col1-right {border:2px solid green; border-radius: 20px; padding:0 5%; max-height: 100%;}
.col1-left img {
	max-width: 100%;
	max-height: 100%;
	border-radius: 20px;
	opacity: .7;
}
.col1-left img:hover {
	opacity: .9;
}

/* ######## SECTION 2 ########## */
.section2 {
	margin-top: 50px;
	max-width: 100%;
	border-radius: 20px;
	background-color: #F2EFEF;
	background-image: url("../img/project_bg.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: soft-light;
}
.col2-left, .col2-mid, .col2-right {
	vertical-align: top;
	padding: 35px;
	display: inline-block;
	max-width: 33.33333%;
	text-align: center;
}
i.fa {
	color: green;
	font-size: 55px;
}

/* ########## SECTION 3: Skills and passion; ########## */
.section3 {     
	margin-top: 50px;
    max-width: 100%;
    border-radius: 20px;
	background-image: url("../img/skills_bg.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: soft-light;
}
.col3-left, .col3-mid, .col3-right {
	vertical-align: top; 
	padding: 35px;
	display: inline-block;
	max-width: 33.33333%;
	text-align: center;
}

/* ########### SECTION 4:; FOOTER  #############*/
.section4 {    
	margin-top: 50px;
    max-width: 100%;
    border-radius: 20px;
    background-color: #F2EFEF; 
}

.col4-left, .col4-mid, .col4-right { 
	display: inline-block;
	width: 33.33333%;
	text-align: center;
}

.col4-left p, .col4-mid p, .col4-right p { }
.copyright {text-align: center;  margin-bottom: 30px;}

.
/*##########  MEDIA ###########*/
@media only screen and (max-width:700px) { 
	body {background-color:red;}
}