*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'Roboto', sans- serif;
	width: 90%;
}
header {
	border: 1px solid green;
}
.traka {
	display: flex;
	justify-content: space-between;
}

.logo {
	display: inline-block;
	width: 200px;
	border: 1px solid green;
}
button {
	border-radius: 8px;
	background-color: #D92D2D;
	color: white;
	padding: 10px;
}
nav {
	border: 1px solid green;
	display: inline-block;
}
ul {}
ul li {
	border: 1px solid red;
	display: inline-block;
}
header {
	background-color: grey;
	background-image: url("../img/zg_bg.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	height: 400px;
	max-width: 100%;
	position: relative;

}
.text {
	text-align: center;
	font-family: monospace;
	color: white;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
	max-width: 100%;
}

.text h1 {
	font-size: 1.3em;
}
.text h2 {
	text-transform: uppercase;
	font-size: 1.5em;
}

/**** ABOUT ****/

hr {
	text-align: center;
	width: 25%;
	/* margin-top: -20px; */
	margin-bottom: 25px;
}
main {}
main h2 {
	text-align: center;
	margin: 20px;
	padding-top: 20px;
}

/* ########### SECTION 1 ############ */
.section1 {
	margin-top: 50px;
	max-width: 100%;
	background-color: white;
}

.col1-left, .col1-right {
	width: 50%;
	height: 100%;
	display: inline-block;
	text-align: center;
	vertical-align: top;
}
.col1-left img {
	max-width: 100%;
	max-height: 100%;
	border-radius: 20px;
	opacity: .7;
}
.col1-left img:hover {
	opacity: .9;
}

/* ######## SECTION 2 ########## */
.section2 {
	margin-top: 50px;
	max-width: 100%;
	border-radius: 20px;
	background-color: #F2EFEF;
}
.col2-left, .col2-mid, .col2-right {
	padding: 35px;
	display: inline-block;
	min-width: 8%;
	max-width: 33.33333%;
	text-align: center;
}
i.fa {
	color: green;
	font-size: 55px;
}

/* ########## SECTION 3 ########## */
.section3 {     
	margin-top: 50px;
    max-width: 100%;
    border-radius: 20px;
    background-color: #F2EFEF; 
}
.col3-left, .col3-mid, .col3-right { 
	padding: 35px;
	display: inline-block;
	min-width: 8%;
	max-width: 33.33333%;
	text-align: center;
}
